<div>
   

    <div class="order-by">
      <h3>Order by rating</h3>
        <button class="btn btn-secondary" (click)="filteredAsc()">Ascending</button>
        <button class="btn btn-secondary" (click)="filteredDes()">Descending</button>
        
       

      </div>
    <!-- <div class="card-columns">
        <div *ngFor = "let restaurant of restaurants"  class="card">
          
          <h4 class="card-title"> {{restaurant.name}}</h4>
          <p class="card-text">Telephone: {{restaurant.contact.phone}}</p>
          <p class="card-text">email: {{restaurant.contact.email}}</p>
          <p class="card-text">web site : {{restaurant.contact.site}}</p>
          <p class="card-text">address : {{restaurant.address.street}}, {{restaurant.address.city}}, {{restaurant.address.state}}</p>
          <p class="card-text">rating:{{restaurant.rating}} </p>

       
      </div>
      </div> -->

      <div class="table">
          <div class="row">
              <div class="restaurants col-sm-4" *ngFor = "let restaurant of restaurants">
                <div class="card card text-white bg-dark" style="max-width: 22rem; max-height: 22rem">
                  <div class="card-body">
                    <h5 class="card-header">{{restaurant.name}}</h5>
                    <p class="card-text">Telephone: {{restaurant.contact.phone}}</p>
          <p class="card-text">email: {{restaurant.contact.email}}</p>
          <p class="card-text">address : {{restaurant.address.street}}, {{restaurant.address.city}}, {{restaurant.address.state}}</p>
                    <p class="card-text">rating: {{restaurant.rating}}</p>
                    <a href="{{restaurant.contact.site}}" class="btn btn-info">Web site</a>
                  </div>
                </div>
              </div>
            </div>

      </div>

  </div>